* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Merriweather", serif;
}

body {
    height: 100vh;
}

.container {
    min-height: 100%;
    align-items: center;
}

/* ----------header---------- */
.header-background {
    background-color: rgb(49, 118, 197);
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
}

.header-main {
    display: flex;
    align-items: flex-start;
}

.img-container {
    margin: 3em 0 3em 3em;
    justify-content: center;
}

.header-img {
    min-height: 500px;
    max-width: 500px;
    object-fit: cover;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about {
    margin-bottom: 1em;
}

.text {
    background-color: white;
    padding: 3em;
    margin: 3em;
    z-index: 2;
    flex-direction: column;
    padding-left: auto;
    margin-left: 0;
    align-items: center;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 4em;
}

.social-icons {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1em;
}

.twitter, .github, .linkedin, .phone, .email {
    height: auto;
    max-width: 24px;
}

/* ----------main---------- */
main {
    position: relative;
    min-height: 70%;
    padding: 1em;
}

main h1 {
    text-align: center;
}


.main-content {
    display: grid;
    width: 75%;
    grid-template-rows: repeat( auto-fit, minmax(250px, 1fr));
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap: 2em;
    justify-self: center;
    padding: 1em;
    justify-content: center;
}

.card {
    max-width: 300px;
    text-align: center;
    min-height: 300px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    font-size: large;
}

.card-title {
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    display: flex;
}

.card-text {
    min-height: 100%;
}

.card p {
    background-color: white;
    padding: 0 0 0 1em;
}

.links img.github-link,
.links svg.external-link {
  width: 24px;
  height: 24px;
}

.one .screenshot {
    background-color: lightslategray;
    min-height: 60%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.two .screenshot {
    background-color: rgb(128, 128, 255);
    height: 60%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.three .screenshot {
    background-color: rgb(177, 12, 12);
    height: 60%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.four .screenshot {
    background-color: orange;
    height: 60%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;;
}

.five .screenshot {
    background-color: rgb(233, 166, 175);
    height: 60%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.six .screenshot {
    background-color: rgb(112, 181, 204);
    height: 60%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-name {
    display: flex;
}

.twitter-footer, .github-footer, .linkedin-footer {
    height: auto;
    max-width: 30px;
}

/* ----------footer---------- */
footer {
    padding: 1em;
    height: 20%;
    background-color: rgb(49, 118, 197);
    color: white;
    display: flex;
    justify-content: space-around;

}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: large;
}

.phone-icon, .email-icon {
    display: flex;
    align-items: center;
    gap: 1em;
}

.fill-color {
    filter: invert(99%) sepia(9%) saturate(374%) hue-rotate(182deg) brightness(118%) contrast(100%);filter: invert(99%) sepia(9%) saturate(374%) hue-rotate(182deg) brightness(118%) contrast(100%);filter: invert(99%) sepia(9%) saturate(374%) hue-rotate(182deg) brightness(118%) contrast(100%);
}

.footer-img-container {
    margin: 1em;
}

.footer-img {
    min-height: 300px;
    max-width: 300px;
    object-fit: cover;
}

.footer-icons {
    display: flex;
    gap: 1em;
}

/* ---------media queries---------- */
@media (max-width: 500px) {
    .header-main {
        flex-direction: column;
    }

    .header-img {
        max-width: 320px;
    }

    .text {
        width: 100%;
        box-shadow: none;
    }

    .social-icons {
        justify-content: center;
    }

    .img-container {
        z-index: 3;
        margin: 3em;
    }

    footer {
        display: block;

    }

    .footer-img {
        min-height: 100%;
        max-width: 100%;
    }

}

@media (max-width: 1000px) {
    .header-main {
        flex-direction: column;
        align-items: center;
    }

    .img-container {
        z-index: 3;
        margin: 3em;
    }

    .header-background {
        z-index: 2;
    }

    .text {
        min-width: 75%;
        padding: 3em;
        align-items: end;
        float: right; 
        z-index: 2;
        align-items: center;   
    }
}